<div class="page-header">
	<h1><%= @election.name %></h1>
</div>

<% tabs = rug_tabs %>
<% @election.election_parts.order(id: :asc).each do |election_part| %>
	<% tabs.tab "election_part_#{election_part.id}", election_part.name do %>
		<%= render partial: "election_part", locals: { election_part: election_part } %>
	<% end %>
<% end %>
<%= tabs.render %>
