<div class="row">    
	<div class="col-md-10">
		<div class="page-header">
			<h1>
				Česká asociace paraplegiků<br/>
				<small class="text-muted"><%= @election.name %></small>
			</h1>
		</div>
	</div>
	<div class="col-md-2 text-right hide-md">
		<%= image_tag(image_url("logo.png")) %>
	</div>
	
</div>

<% tabs = rug_tabs %>
<% @election.election_parts.order(id: :asc).each do |election_part| %>
	<% tabs.tab "election_part_#{election_part.id}", election_part.name do %>
		<%= render partial: "election_part", locals: { election_part: election_part } %>
	<% end %>
<% end %>
<%= tabs.render %>
