<% if action_name == "index" %>
	<%= rug_form_for(@filter_election, url: main_app.filter_admin_elections_path) do |f| %>
		<div class="form-inline">
			<%= f.text_input_row :name %>
			<%= f.primary_button_row :submit, label: t("helpers.submit.filter") %>
		</div>
	<% end %>
<% end %>