<% if action_name == "index" %>
	<%= rug_form_for(@filter_candidate, url: main_app.filter_admin_candidates_path) do |f| %>
	<div class="form-inline">
		<%= f.text_input_row :name_for_filter, :text_field, label: Candidate.human_attribute_name("name")  %>
		<%= f.primary_button_row :submit, label: t("helpers.submit.filter") %>
	</div>
	<% end %>
<% end %>