/*
 *= require clockpicker/clockpicker
 *= require clockpicker/clockpicker.gumby
 */

/*
 *= require dropzone/dropzone
 *= require dropzone/dropzone.bootstrap
 */

/*
 *= require pikaday/pikaday
 *= require pikaday/pikaday.gumby
 */

/*
 *= require tokeninput/tokeninput
 *= require tokeninput/tokeninput.facebook
 *= require tokeninput/tokeninput.bootstrap
 */

/*
 *= require jcrop/jcrop
 */

/*
 *= require ric_admin
 *= require_self
 */

