/*****************************************************************************/
/* Content hiding                                                            */
/*****************************************************************************/

.content {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height 0.8s;
	-moz-transition: max-height 0.8s;
	transition: max-height 0.8s;
	
	&.show-content {
		max-height: 1000px;
	}
}

/*****************************************************************************/
/* Layout                                                                    */
/*****************************************************************************/

.container {
	background: white;
	padding-bottom: 50px;
}

body {
	background: #e6e6e6;
}

/*****************************************************************************/
/* Tabs                                                                      */
/*****************************************************************************/

.tab-content {
	padding-top: 20px;
}

/*****************************************************************************/
/* Common                                                                    */
/*****************************************************************************/

@media only screen and (max-width: 991px) {
	.hide-md { display: none; }
}

/*****************************************************************************/
/* Panels                                                                    */
/*****************************************************************************/

.panel {
	&.active {
		background: #e6e6e6;
	}
	&.voted {
		background-color: #dff0d8;
		border-color: #d6e9c6;
	}
}

.panel-checkbox {

	label {
		display: block;
		margin: 0;
		input[type=checkbox] {
			display: none;
			
			& + .panel {
				cursor: pointer;
			}
			
			&:checked + .panel {
				background-color: #dff0d8;
				border-color: #d6e9c6;
			}
		}
	}

}

/*****************************************************************************/
/* Votes                                                                     */
/*****************************************************************************/

.result-votes {
	font-size: 32px;
	font-weight: bold;
	margin: 13px 20px 5px 20px;
}
