/*****************************************************************************/
/* Content hiding                                                            */
/*****************************************************************************/

.content {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height 0.8s;
	-moz-transition: max-height 0.8s;
	transition: max-height 0.8s;
	
	&.show-content {
		max-height: 1000px;
	}
}

/*****************************************************************************/
/* Layout                                                                    */
/*****************************************************************************/

.container {
	background: white;
}

body {
	background: #e6e6e6;
}

/*****************************************************************************/
/* Tabs                                                                      */
/*****************************************************************************/

.tab-content {
	padding-top: 20px;
}

/*****************************************************************************/
/* Common                                                                    */
/*****************************************************************************/

@media only screen and (max-width: 991px) {
	.hide-md { display: none; }
}